<!DOCTYPE html>
<html>

<head>
  <title>login</title>
  <meta name="google-signin-client_id"
    content="417777300686-0vp7be6826583nc16qjiqkfusp39hjrh.apps.googleusercontent.com">


</head>

<body>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <div class="facebook-login-btn">
    <fb:login-button data-size="medium" data-button-type="continue_with" data-layout="default"
      data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email"
      onlogin="checkLoginState();">
  </div>
  </fb:login-button>
  <a href="#" onclick="signOut();">Sign out Google account</a>


  <!-- Google Cloud Platform JS -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <!-- jQuery CDN -->
  <script src="static/assets/js/jquery-3.5.1.js"></script>
  <!-- My script -->
  <script src="static/assets/js/login.js"></script>

</body>

</html>